---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "LWA - Lohyňa Wrestling Academy";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="h-screen w-full flex overflow-x-hidden">
    <!-- Section 1 -->
    <section
      class="min-w-full h-full flex items-center justify-center snap-start"
    >
      <h1 class="text-slate-600 dark:text-white text-4xl font-bold">
        Vitajte v Lohyňa Wrestling Academy
      </h1>
    </section>

    <!-- Section 2 -->
    <section
      class="min-w-full h-full flex items-center justify-center snap-start
        bg-slate-500"
    >
      <h1 class="text-white text-4xl font-bold">Trénujte s Nami</h1>
    </section>

    <!-- Section 3 -->
    <section
      class="min-w-full h-full flex items-center justify-center snap-start
        bg-yellow-500"
    >
      <h1 class="text-white text-4xl font-bold">Naše Aktivity</h1>
    </section>
  </main>
  <script>
    import "../scripts/horizontalScroll.js";
  </script>
</BaseLayout>
